<header>

  <h1>
    <%= title %>
  </h1>

  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/mood">Mood Track</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/social">Social Network</a></li>
      <li><a href="/history">Mood History</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/alertDashboard">Alert Dashboard</a></li>
      <li><a href="/users">Users</a></li>
      <li class="nav-login"><a href="/login">Login</a></li>
    </ul>
  </nav>

</header>