<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/mood">Mood Track</a></li> 
        <li><a href="/search">Search</a></li>
        <li><a href="/social">Social Network</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </header>
    <main class="container">
      <h2>Mood Tracking</h2>
      <form action="/mood" method="GET">
        <p>Daily Mood Check-in</p>
        <div>
            <input type="radio" id="1" name="mood_score" value="1" />
            <label for="1">1</label><br>
            <input type="radio" id="2" name="mood_score" value="2" />
            <label for="2">2</label><br>
            <input type="radio" id="3" name="mood_score" value="3" />
            <label for="3">3</label><br>
            <input type="radio" id="4" name="mood_score" value="4" />
            <label for="4">4</label><br>
            <input type="radio" id="5" name="mood_score" value="5" />
            <label for="5">5</label><br>
        </div>

        <label for="notes">Notes (optional): </label><br>
        <input type="text" id="notes" name="notes" placeholder="How are you feeling today?" />

        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
      <p>&copy; <%= new Date().getFullYear() %> Group 2</p>
    </footer>
  </body>
</html>