<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/search.css" />
  </head>
  <body>
    
    <!-- Header HTML is in a separate file -->
    <%- include("partials/header") %>

    <main class="container">
      <h2>Searching</h2>
    <form action="/search" method="GET">
        <div class="search-bar">
          <input type="text" name="query" placeholder="Search..." />
          <button type="submit">Search</button>
        </div>
      <br /><br />
      
      <div class="dropdowns-row">
      <div class="dropdowns">
        <select id="category" name="category">
          <option value="">Category</option>
          <option value="fitness">Fitness</option>
          <option value="counselling">Counselling</option>
          <option value="socialnetwork">Social Network</option>
        </select>
      </div>

      <div class="dropdowns">
        <select id="date" name="date">
          <option value="">Date</option>
          <option value="17-09-2025">17, September 2025</option>
          <option value="18-09-2025">18, September 2025</option>
          <option value="19-09-2025">19, September 2025</option>
        </select>
      </div>

      <div class="dropdowns">
        <select id="time" name="time">
          <option value="">Time</option>
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
        </select>
      </div>

      <div class="dropdowns">
        <select id="campus" name="campus">
          <option value="">Campus</option>
          <option value="bankstown">Bankstown</option>
          <option value="campbelltown">Campbelltown</option>
          <option value="hawkesbury">Hawkesbury</option>
          <option value="parramattacity">Parramatta City</option>
          <option value="parramattasouth">Parramatta South</option>
          <option value="penrith">Penrith</option>
        </select>
      </div>
      </div>
    </form>
     
      
    
    </main>
    
    <!-- Footer HTML is in a separate file -->
    <%- include("partials/footer") %>

  </body>
</html>